<!--Create a new file in the blango/templates/blog directory called index.html. 
It should inherit from the global base.html and override the content block. -->
<!-- 
extends must be first block in exteded templates

inserts "content"(eg. html tags) 
between block <tag> placeholder 

# generic, into base.html note extra # in {#%, for comments not to match
{#% block <tag> %#}  
  <extending template tag-match>
{#% endblock %#} 

{#% block <content> %#}  
  <h2>Index Template</h2>
{#% <endblock> %#} 

base.html is bootstrap template

double {#{ are for variable inserts}#} 
pipe | filters # not all only filter matches
colon for : arguments. here for date function MONTH, day YEAR

The date filter which outputs the date in month, day year format (its argument).
The wordcount filter to count the words in the Post's content. 

Note that this is not strictly correct as we’re storing raw HTML 
in the content field and thus the count will include the tags and attributes; 
but for illustrative purposes it is fine.


{#% load blog_extras %#} (extra # in {#%)

Django looks for template libraries to load inside Python files in the 
templatetags folder inside Django apps. 
The template library it loads is simply the name of the file
<appname> / <templatetags> / blog_extras , __init__.py file # both empty

pass argument to filter to filterfunciton author_details: request.user
request.user variable, the user making the request
request being the current request handeled by template
-->

{% extends "base.html" %}
{% block content %}
{% load blog_extras %}
    <h2>Blog Posts</h2>
    {% for post in posts %}
    <div class="row">
        <div class="col">
            <h3>{{ post.title }}</h3>
            
            <small>By {{ post.author|author_details:request.user }} on {{ post.published_at|date:"M, d Y" }}</small>
            <p>{{ post.summary }}</p>
            <p>
                ({{ post.content|wordcount }} words)
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
