<!--Create a new file in the blango/templates/blog directory called index.html. 
It should inherit from the global base.html and override the content block. -->
<!-- 
extends must be first block in exteded templates

inserts "content"(eg. html tags) 
between block <tag> placeholder 

# generic, into base.html note extra # in {#%, for comments not to match
{#% block <tag> %#}  
  <extending template tag-match>
{#% endblock %#} 

{#% block <content> %#}  
  <h2>Index Template</h2>
{#% <endblock> %#} 

base.html is bootstrap template

double {#{ are for variable inserts}#} 
pipe | filters # not all only filter matches
colon for : arguments. here for date function MONTH, day YEAR

The date filter which outputs the date in month, day year format (its argument).
The wordcount filter to count the words in the Post's content. 

Note that this is not strictly correct as we’re storing raw HTML 
in the content field and thus the count will include the tags and attributes; 
but for illustrative purposes it is fine.


{#% load blog_extras %#} (extra # in {#%)

Django looks for template libraries to load inside Python files in the 
templatetags folder inside Django apps. 
The template library it loads is simply the name of the file
<appname> / <templatetags> / blog_extras , __init__.py file # both empty

pass argument to filter to filterfunciton author_details: request.user
request.user variable, the user making the request
request being the current request handeled by template

#1.13 {#% load blog_extras %#} 
removed from index.html, moved to post-byline template
<a href="{#% url "blog-post-detail" post.slug %#}">Read More</a>

Notice the use of the url template tag to link to a URL 
with the name blog-post-detail, 
providing the post.slug as an argument.

{#% url "blog-post-detail" post.slug %#}

#1.14 {#% row %#} and {#% endrow %#} custom_tags from blog_extras
To be safe, simple tags automatically escape their output, 
so the tags are not being rendered properly. 
format_html('<div class="row">')

#6 adds to bootstrap div class="row arg" i.e "border-bottom"
{#% row "border-bottom" %#}
Adds border separator between <div></div>

-->

{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
    <h2>Blog Posts</h2>
    {% for post in posts %}
    {% row "border-bottom" %}
        <div class="col">
            <h3>{{ post.title }}</h3>
            {% include "blog/post-byline.html" %}
            <p>{{ post.summary }}</p>
            <p>
                ({{ post.content|wordcount }} words)
                <a href="{% url "blog-post-detail" post.slug %}">Read More</a>
            </p>
        </div>
    {% endrow %}
    {% endfor %}
{% endblock %}
